@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", serif;
}

.content {
    background-color: white;
    margin: 80px 300px;
    border-radius: 20px;
    padding: 40px;
    position: relative;
}

.content img {
    width: 100%;
    border-radius: 10px;
}

.header {
    padding: 20px 0px;
}

.header h1 {
    font-size: 40px;
    font-family:  "Young Serif", serif;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 30px;
    border-radius: 10px;
}

.preparation h5 {
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    font-family:  "Young Serif", serif;
}

.preparation ul {
    padding: 10px;
    padding-bottom: 0px;
    line-height: 30px;
    list-style: none;
}

.preparation ul li::before {
    content: "\2022";
    color: hsl(14, 45%, 36%);
    display: inline-block;
    width: 2em;
}

.preparation ul li {
    list-style: hsl(14, 45%, 36%);;
}
.bold {
    font-weight: bolder;
}

.Ingredients {
    padding: 30px 0px;
}

h2 {
    font-size: 30px;
    color: hsl(14, 45%, 36%);
    font-family:  "Young Serif", serif;
}

.Ingredients ul {
    padding: 10px;
    padding-bottom: 0px;
    line-height: 30px;
    list-style: none;
}

.Ingredients ul li::before {
    content: "\2022";
    color: hsl(14, 45%, 36%);
    display: inline-block;
    width: 2em;
}

.Instructions {
    padding: 30px 0px;
}

.Instructions ol {
    padding: 20px;
    padding-bottom: 0px;
    line-height: 30px;
}

.Instructions ol li::before {
    display: inline-block;
    width: 2em;
    color: hsl(14, 45%, 36%);
}

.Nutrition {
    padding: 30px 0px;
}

p {
    padding: 5px 0px;
}

table {
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}

table tr td {
    padding: 20px;
}

table tr {
    border-bottom: 1px solid gray;
}

.value {
    color: hsl(14, 45%, 36%);
    font-weight: bolder;
}

.last-tr {
    border-bottom: none;
}

hr {
    border-bottom: none;
}